*{
	box-sizing: border-box;-box;
}
h1{
	color: black;
	text-align: center;
	font-size: 25px;
    margin bottom: 2%;
    margin-top: 3%;
    font-family: cursive;
}
h2{
	font-size: 20px;
    font-family: cursive;
    border: 2px solid black;
    margin-right: -2px;
    margin-top: -2px;
    margin-left: 40%;
    text-align: center;

}
section>p {
    font-size: 18px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-family: cursive;
}
.row  {
    width: 100%;
}
.TCS{
	background-color: lightpink;
}
.INFOSYS{
	background-color: orange;
}
.HCL{
	background-color: lightgreen;
}
@media (min-width: 992px)  {
    .col-lg-3 {
        
        border: 2px solid black;
        background-color: lightblue;
        width: 20%;
        margin-left:5% ;
        margin-right: 5%;
        margin-top: 5%;
        float: left;
    }
}


@media (min-width: 768px) and (max-width: 991px)  {
    .col-md-2  {
       
        border: 3px solid black;
        background-color: lightblue;
        width: 40%;
        margin-left:5% ;
        margin-right: 5%;
        margin-top: 5%;
        float: left;

    }   

    .HCL1{
    	width:90%;
    	margin-left: 5%;
    	margin-right: 5%;

    }
}


@media (max-width: 767px)  {
    .col-sm-1{
       
        border: 2px solid black;
        width: 90%;
        background-color: lightblue;
       margin-left:5% ;
        margin-right: 5%;
        margin-top: 5%;
        float: left;
    }   
}